<h1><%= translate_language(params[:locale], 'Editing User') %></h1>

<%= render 'form', user: @user %>

<%= link_to (translate_language(params[:locale], 'Show')), @user %> |
<%= link_to translate_language(params[:locale], 'Back'), users_path %>
